<!-- starting page -->
<% content_for :title do %>Foobar Kadigan<% end %>
<% content_for :description do %>Website of Foobar Kadigan<% end %>
  <section>
    <img src="https://3z8wqu1rz6hb3n2u7s2u0krh-wpengine.netdna-ssl.com/wp-content/uploads/2015/04/Cordoba-Spain-Roman-Bridge.jpg">

  </section>
  <section>
    <div class="column">
      <h3>Stay in touch.</h3>
    </div>
    <div class="column">
      <div class="form-centered">
        <%= form_with(model: @visitor) do |f| %>
          <%= f.email_field :email, placeholder: 'Your email address...', autofocus: true %>
          <br/>
          <br/>
          <%= f.submit 'Sign up for the newsletter', class: 'submit' %>
        <% end %>
      </div>
    </div>
  </section>
